@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
#nav_back{
    background-color: rgba(255, 255, 255, 0.89);
    
  }
.my_head_section{
    height: 100vh;
    background: url(../img/man-holding-pen-in-meeting.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.nav_links{
    font-weight: 600;
    font-size: 110%;
    color: #221983 !important;
}
.nav_links:hover{
    color: #FF931E!important;
}
.nav_register{
    background-color: #221983 !important;
    color: white !important;
    border-radius: 8px;
}
.nav_register:hover{
    color: #FF931E!important;
    background-color: #181163 !important;
}
.internxpo_head{
    width: fit-content;
}
.internxpo_head h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #181163; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    font-weight: bolder;
    animation: 
      typing 1.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
/* Typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #181163; }
}
.register_button{
      width: 200px;
      height: 60px;
      background: transparent;
      border: 1.4px solid #181163;
      color: #181163;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      padding-top: 15px;
}
.register_button:hover{
      color: #FF931E;
      background: #181163;
      transition: 0.3s;
      cursor: pointer;
}
.submit_button{
    background-color: #FF931E !important;
    border: none;
}
.submit_button:hover{
    background-color: #f38b1c !important;
    color: #221983;
    transition: 0.5s;
}
.head_team{
    font-size: 110%;
    font-weight: 500;
}
.countdown{
    background: url(../img/timerback.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
.foot_text{
    font-size: 80%;
    margin: 3px 0px;
}
.foot_team{
    font-size: 80%;
}
.foot_socialmedia{
color: rgb(85, 85, 85);
}
.foot_socialmedia:hover{
    color: black;
    transition: 0.4s;
}
.foot_mail{
    text-decoration: none;
    color: rgb(85, 85, 85);
}
.foot_mail:hover{
    color: black;
    transition: 0.4s;
}
#foot_mail_id{
    text-align: right !important;
    margin: 0 !important;
    padding: 0 !important;
}
@media (max-width: 768px) {
    #foot_mail_id{
        text-align: center !important;
    }
    #foot_telephone{
        text-align: center !important;
    }
    #foot_left{
        text-align: center !important;
    }
}
#foot_sms{
    justify-content: center;
}
.foot_tel{
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.company_name{
    text-decoration: none;
    color: #221983;
}
.company_name:hover{
    color: #f38b1c;
    transition: 0.3s;
}
.company_logo{
    width: 80%;
}
.company_roles{
    list-style: none;
}
.company_apply{
    background-color: #221983 !important;
    color: white !important;
    border-radius: 8px;
    width: fit-content;
}
.company_apply:hover{
    color: #FF931E!important;
    background-color: #181163 !important;
}